os: linux
dist: bionic
language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - nightly

jobs:
  allow_failures:
    - php: nightly

cache:
  directories:
    - $HOME/.composer/cache
    - vendor

install:
  - composer update --no-suggest

script:
  - vendor/bin/php-cs-fixer fix --diff --dry-run
  - vendor/bin/psalm --show-info=true
  - vendor/bin/phpunit --coverage-text
